*{
    width:100%;
    margin: 0;
    padding: 0;
  
}
.navbar{
background-color: rgb(72, 2, 19);
color: white;
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
height: 80px;
/* opacity: 0; */
}

.nav-option{
    display: flex;
    list-style:none;
    color: white;
    
    }

.hero-heading{
padding-left: 110px ;
}
 
.link a {
text-decoration:none;
color: rgb(249, 250, 250);
font-size: larger;
}

.link a:hover{
color: rgb(254, 67, 142);
}

.wholebar{
    background-image: url("image/cssbackground.avif");
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.mybigname{
margin: 5%;
margin: bottom 5px; ;
color: rgb(12, 226, 12);
font-size: 4cm;
text-align: left;
justify-content: left;
}
.mybigname:hover{
 color:red   
}